body {
    background-image:url('../img/nyu.jpg');
    background-repeat: no-repeat;
   background-size: 100%;
}

#logo {
    font-size: 40px;
    text-align: center;
}

#login {
    width: 40%;
    height: 30%;
    background-color: #8e44ad;
    margin-left: auto;
    margin-right: auto;
}

#word {
    font-size: 30px;
    margin-right: auto;
    margin-left: auto;

}
